/* Home.css */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .heading {
    color: #333;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .buttonPrimary {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .buttonSecondary {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .loadingText {
    color: #4caf50;
  }
  